<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHTTVZZJW-Xz8FGGw9kHrWnTXbJQreS5c</string>
	<key>GCM_SENDER_ID</key>
	<string>867391642288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eduquest</string>
	<key>PROJECT_ID</key>
	<string>edu-quest-e8663</string>
	<key>STORAGE_BUCKET</key>
	<string>edu-quest-e8663.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867391642288:ios:f2bdee294ba5f17b34f975</string>
</dict>
</plist>